.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.info img {
  object-fit: contain;
}

.ingredients ul {
  padding: 0;
  display: flex;
  gap: 1rem;
}
.ingredients li {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  max-width: 150px;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: small;
}
.ingredients li img {
  max-width: 100px;
}
