.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background-color: #e0e0e0;
}
.info img {
  object-fit: cover;
  width: 100%;
  max-height: 30vh;
}

/* .ingredients {
} */
.ingredients ul {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.ingredients li {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  max-width: 150px;
  height: 250px;
  padding: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 50px;
  color: #7a7a7a;
  font-size: small;
  text-align: center;
  background: #e0e0e0;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.ingredients li img {
  max-width: 100%;
  mix-blend-mode: multiply; /* remove white background from images */
  place-self: center;
}
.ingredients li strong {
  align-self: end;
}

.instructions img {
  width: initial;
}
