.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  background-color: #e0e0e0;
}
.info img {
  object-fit: contain;
}

/* .ingredients {
} */
.ingredients ul {
  padding: 0;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
.ingredients li {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0.5rem;
  max-width: 150px;
  min-height: 210px;
  padding: 2rem;
  padding-bottom: 1.5rem;
  border-radius: 50px;
  color: #7a7a7a;
  font-size: small;
  text-align: center;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.ingredients li img {
  max-width: 100%;
  mix-blend-mode: multiply; /* remove white background from images */
  place-self: center;
}
.ingredients li strong {
  align-self: end;
}
